<ion-content>
  <div class="menu-bt" tappable menuToggle>
    <img src="assets/imgs/menu-bt.jpg">
  </div>
  <div class="first-block">
    <p class="back" tappable (click)="goBack()"><ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon> BACK</p>
    <img src="assets/imgs/bg-cats.jpg">
    <div class="first-line">{{firstLine}}</div>
    <div class="second-line">{{secondLine}}</div>
    <div class="third-line">Items made just for Him or Her</div>
  </div>
  <div class="second-block">
    <ion-searchbar
      [showCancelButton]="shouldShowCancel"
      (ionCancel)="onCancel($event)"
      [(ngModel)]="searchTerm"
      (ionInput)="setFilteredItems()">
    </ion-searchbar>
    <div padding>
      <ion-segment mode="ios" [(ngModel)]="filter">
        <ion-segment-button class="gradient-segment" value="new">
          New
        </ion-segment-button>
        <ion-segment-button class="gradient-segment" value="featured">
          Featured
        </ion-segment-button>
        <ion-segment-button class="gradient-segment" value="popular">
          Popular
        </ion-segment-button>
        <ion-segment-button class="gradient-segment" value="picks">
          Staff Picks
        </ion-segment-button>
      </ion-segment>
    </div>
  </div>
  <ion-grid>
    <ion-row *ngIf="show && subcategory != 'under50'">
      <ion-col col-6 tappable *ngFor="let p of allproducts | orderBy:'title':'asc'" [hidden]="p.status!='publish' || p.subcategory!=subcategory || p.filter!=filter" (click)="viewItem(p)">
        <div class="featured-img-container">
          <div class="mask"></div>
          <img [src]="p.imagen">
        </div>
        <h2 text-center>{{p.title}}</h2>
        <p class="ribbon" text-center>
          <img src="assets/imgs/ribbon.png">
        </p>
        <h3 text-center>${{p.price[0]}}</h3>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="show && subcategory == 'under50'">
      <ion-col col-6 tappable *ngFor="let p of allproducts | orderBy:'title':'asc'" [hidden]="p.status!='publish' || p.filter!=filter || p.price[0] > 50" (click)="viewItem(p)">
        <div class="featured-img-container">
          <div class="mask"></div>
          <img [src]="p.imagen">
        </div>
        <h2 text-center>{{p.title}}</h2>
        <p class="ribbon" text-center>
          <img src="assets/imgs/ribbon.png">
        </p>
        <h3 text-center>${{p.price[0]}}</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
