<ion-content>
  <div class="cart-bt" icon-only tappable (click)="viewCart()">
    <ion-icon ios="ios-cart-outline" md="md-cart"></ion-icon>
  </div>
  <div class="menu-bt" tappable menuToggle>
    <img src="assets/imgs/menu-bt.jpg">
  </div>
  <div class="bg warm-gradient">
    <p class="title" tappable (click)="goBack()"><ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon> Back</p>
    <p class="subtitle">{{name}} {{lastname}}</p>
    <p class="message">EDIT PROFILE</p>
  </div>
  <div class="container" padding-horizontal>    
    <ion-list>

      <ion-item>
        <ion-label stacked>First Name</ion-label>
        <ion-input type="text" [(ngModel)]="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Last Name</ion-label>
        <ion-input type="text" [(ngModel)]="lastname"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Address</ion-label>
        <ion-input type="text" [(ngModel)]="address"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>City</ion-label>
        <ion-input type="text" [(ngModel)]="city"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>State</ion-label>
        <ion-select [(ngModel)]="state">
          <ion-option value="AL">Alabama</ion-option>
          <ion-option value="AK">Alaska</ion-option>
          <ion-option value="AZ">Arizona</ion-option>
          <ion-option value="AR">Arkansas</ion-option>
          <ion-option value="CA">California</ion-option>
          <ion-option value="CO">Colorado</ion-option>
          <ion-option value="CT">Connecticut</ion-option>
          <ion-option value="DE">Delaware</ion-option>
          <ion-option value="DC">District Of Columbia</ion-option>
          <ion-option value="FL">Florida</ion-option>
          <ion-option value="GA">Georgia</ion-option>
          <ion-option value="HI">Hawaii</ion-option>
          <ion-option value="ID">Idaho</ion-option>
          <ion-option value="IL">Illinois</ion-option>
          <ion-option value="IN">Indiana</ion-option>
          <ion-option value="IA">Iowa</ion-option>
          <ion-option value="KS">Kansas</ion-option>
          <ion-option value="KY">Kentucky</ion-option>
          <ion-option value="LA">Louisiana</ion-option>
          <ion-option value="ME">Maine</ion-option>
          <ion-option value="MD">Maryland</ion-option>
          <ion-option value="MA">Massachusetts</ion-option>
          <ion-option value="MI">Michigan</ion-option>
          <ion-option value="MN">Minnesota</ion-option>
          <ion-option value="MS">Mississippi</ion-option>
          <ion-option value="MO">Missouri</ion-option>
          <ion-option value="MT">Montana</ion-option>
          <ion-option value="NE">Nebraska</ion-option>
          <ion-option value="NV">Nevada</ion-option>
          <ion-option value="NH">New Hampshire</ion-option>
          <ion-option value="NJ">New Jersey</ion-option>
          <ion-option value="NM">New Mexico</ion-option>
          <ion-option value="NY">New York</ion-option>
          <ion-option value="NC">North Carolina</ion-option>
          <ion-option value="ND">North Dakota</ion-option>
          <ion-option value="OH">Ohio</ion-option>
          <ion-option value="OK">Oklahoma</ion-option>
          <ion-option value="OR">Oregon</ion-option>
          <ion-option value="PA">Pennsylvania</ion-option>
          <ion-option value="RI">Rhode Island</ion-option>
          <ion-option value="SC">South Carolina</ion-option>
          <ion-option value="SD">South Dakota</ion-option>
          <ion-option value="TN">Tennessee</ion-option>
          <ion-option value="TX">Texas</ion-option>
          <ion-option value="UT">Utah</ion-option>
          <ion-option value="VT">Vermont</ion-option>
          <ion-option value="VA">Virginia</ion-option>
          <ion-option value="WA">Washington</ion-option>
          <ion-option value="WV">West Virginia</ion-option>
          <ion-option value="WI">Wisconsin</ion-option>
          <ion-option value="WY">Wyoming</ion-option>
          <ion-option value="AA">Armed Forces (AA)</ion-option>
          <ion-option value="AE">Armed Forces (AE)</ion-option>
          <ion-option value="AP">Armed Forces (AP)</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label stacked>ZIP Code</ion-label>
        <ion-input type="text" [(ngModel)]="zip"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Phone Number</ion-label>
        <ion-input type="text" [(ngModel)]="phone"></ion-input>
      </ion-item>

      <h2>PERSONALIZED QUESTIONS</h2>

      <ion-segment [(ngModel)]="gender">
        <ion-segment-button value="1">
          FEMALE
        </ion-segment-button>
        <ion-segment-button value="2">
          MALE
        </ion-segment-button>
        <ion-segment-button value="3">
          OTHER
        </ion-segment-button>
      </ion-segment>

      <ion-segment [(ngModel)]="status">
        <ion-segment-button value="1">
          SINGLE
        </ion-segment-button>
        <ion-segment-button value="2">
          MARRIED
        </ion-segment-button>
        <ion-segment-button value="3">
          RELATIONSHIP
        </ion-segment-button>
      </ion-segment>

      <ion-item>
        <ion-label>Your Bday</ion-label>
        <ion-datetime [(ngModel)]="my_birthday" displayFormat="MM/DD/YYYY" pickerFormat="MM/DD/YYYY"></ion-datetime>
      </ion-item>

      <ion-item *ngIf="status!='1'">
        <ion-label>Partner Bday</ion-label>
        <ion-datetime [(ngModel)]="partner_birthday" displayFormat="MM/DD/YYYY" pickerFormat="MM/DD/YYYY"></ion-datetime>
      </ion-item>

      <div *ngFor="let d of special_dates; let i = index;">
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-8>
              <h3>SPECIAL DAY</h3>
            </ion-col>
            <ion-col col-4 text-right>
              <button ion-button small round (click)="removeSpecialDate(i)"><ion-icon ios="ios-trash" md="md-trash"></ion-icon></button>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-item>
          <ion-label stacked>Date Type</ion-label>
          <ion-input type="text" value="{{d.tdate}}"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Name</ion-label>
          <ion-input type="text" value="{{d.name}}"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Date</ion-label>
          <ion-input type="text" value="{{d.formatted_date}}"></ion-input>
        </ion-item>
      </div>

      <ion-grid no-padding>
        <ion-row>
          <ion-col col-8>
            <h3>ADD SPECIAL DAY</h3>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item>
        <ion-label>Date Type</ion-label>
        <ion-select [(ngModel)]="date_type">
          <ion-option value="Birthday">Birthday</ion-option>
          <ion-option value="Anniversary">Anniversary</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label stacked>Name</ion-label>
        <ion-input type="text" [(ngModel)]="date_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime [(ngModel)]="date_date" displayFormat="MM/DD/YYYY" pickerFormat="MM/DD/YYYY"></ion-datetime>
      </ion-item>

      <button ion-button small full (click)="addDate()">Add Date</button>
    
    </ion-list>

    <button ion-button full round (click)="saveUserInformation()">SAVE PROFILE</button>

  </div>
  
</ion-content>
