<ion-content>
  <div class="bg">
    <img src="assets/imgs/bg-step1.jpg">
    <p class="title">PERSONALIZED<br>
    ACCOUNT</p>
    <p class="subtitle">Question 4 of 4</p>
  </div>
  <div class="container" padding-horizontal>
    <h2>When is your BIRTHDAY?</h2>
    
    <ion-list>

      <ion-item>
        <ion-label>Select date</ion-label>
        <ion-datetime [(ngModel)]="my_birthday" displayFormat="MM/DD/YYYY" pickerFormat="MM/DD/YYYY"></ion-datetime>
      </ion-item>
    
    </ion-list>

    <h2 *ngIf="status!=1">When is your PARTNER'S BIRTHDAY?</h2>
    
    <ion-list *ngIf="status!=1">

      <ion-item>
        <ion-label>Select date</ion-label>
        <ion-datetime [(ngModel)]="partner_birthday" displayFormat="MM/DD/YYYY" pickerFormat="MM/DD/YYYY"></ion-datetime>
      </ion-item>
    
    </ion-list>

    <button ion-button full round (click)="saveUserInformation()">SAVE MY PROFILE</button>

    <ion-grid no-padding>
      <ion-row>
        <ion-col class="disclaimer">
          You can always skip a<br>question or answer it later<br>in your ACCOUNT SETTINGS
        </ion-col>
        <ion-col>
          <button ion-button full class="gradient-bt" (click)="home()"><div class="mask"></div>SKIP QUESTION</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
</ion-content>
