<ion-content>
  <div class="cart-bt" icon-only tappable (click)="viewCart()">
    <ion-icon ios="ios-cart-outline" md="md-cart"></ion-icon>
  </div>
  <div class="menu-bt" tappable menuToggle>
    <img src="assets/imgs/menu-bt.jpg">
  </div>
  <div class="first-block">
    <img src="assets/imgs/bg-cats.jpg">
    <div class="first-line">PRE-CURATED</div>
    <div class="second-line">BOXES</div>
    <div class="third-line">Items made just for Him or Her</div>
  </div>
  <div padding>
    <img class="product-image" [src]="product.imagen">
    <ion-grid>
      <ion-row>
        <ion-col col-8>
          <h1>{{product.title}}</h1>
        </ion-col>
        <ion-col col-4 text-right>
          <h2>${{product.price[0]}}</h2>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="product.vars">
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label stacked>{{product.attribute}}</ion-label>
              <ion-select [(ngModel)]="variation">
                <ion-option *ngFor="let a of product.vars;" value="{{a.atkey}}|{{a.atvalue}}|{{a.id}}|{{a.name}}">{{a.name}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col [innerHTML]="product.description"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-left>
          <button ion-button (click)="goBack()">BACK</button>
        </ion-col>
        <ion-col text-right>
          <button ion-button full class="gradient-bt" (click)="addToCart()"><div class="mask"></div>ADD TO CART</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
