<ion-menu [content]="content" side="right">
  <ion-header>
    <ion-toolbar>
      <div class="menu-bt" tappable menuToggle>
        <img src="assets/imgs/menu-bt.jpg">
      </div>
      <button class="cart-button" ion-button icon-only menuToggle (click)="viewCart()"><ion-icon ios="ios-cart" md="md-cart"></ion-icon></button>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="user-meta palmtree" menuToggle tappable (click)="viewProfile()">
      <div class="user-name" *ngIf="name && lastname">
        {{name}} {{lastname}}
      </div>
      <div class="view-profile">
        VIEW MY PROFILE >
      </div>
    </div>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
    <button ion-button full *ngIf="name" menuToggle class="logout-bt" (click)="logout()">LOG OUT {{name}}</button>
    <button ion-button full *ngIf="!name" menuToggle (click)="logout()">LOG OUT</button>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>